@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="japanusedmachines, usedmachines, japan" />
    <title>Japan-Used-Machines</title>

    <!-- <form action="http://www.japanusedmachines.com/" method="get">
        <input type="text" name="q"
        <input type="submit" value="search here">
    </form> -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Custom Theme files-->
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <link rel="stylesheet" href="css/gse.css" type="text/css" media="all"> -->
    <link rel="stylesheet" href="~/Content/swipebox.css">
    <link rel="stylesheet" href="~/Content/gse.css">
    <!--//Custom Theme files-->
    <!--js-->
    <script src="~/scripts/jquery-1.11.1.min.js"></script>
    <!--//js-->
    <!--web-fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600" rel="stylesheet">
    <!--//web-fonts-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="~/scripts/move-top.js"></script>
    <script type="text/javascript" src="~/scripts/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});

    </script>

    <!--//end-smooth-scrolling-->

</head>

<body>
    <!--banner-->
    <div class="banner">
        <div class="header">
            <!--header-->
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="@Url.Action("Index","Home")"><img src="~/images/jum-logo2.png" class="brand"></a></h1>
                    </div>
                    <!--navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li><a href="#about" class="scroll">About</a></li>
                            <li><a href="#gallery" class="scroll">Gallery</a></li>
                            <li><a href="@Url.Action("ListOfMachines","Machine")">Inventory</a></li>
                            <li><a href="#contact" class="scroll">Contact Us</a></li>
                            <li>

                                <!--<span class="search_btn">
                                    <span></span>
                                </span>-->
                                <div class="search_opn trans_pt4s">
                                    <div>
                                        <gcse:searchbox-only resultsUrl="http://mapmygenome.in/search-results" newWindow="true" queryParameterName="q">
                                    </div>
                                </div>


                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                </nav>
            </div>

            <!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
            <!-- The terms of service are available at http://www.google.com//cse/docs/tos.html -->
            <!-- <form name="cse" id="searchbox_demo" action="https://www.google.com/cse">
              <input type="hidden" name="cref" value="" />
              <input type="hidden" name="ie" value="utf-8" />
              <input type="hidden" name="hl" value="" />
              <input name="q" type="text" size="40" />
              <input type="submit" name="sa" value="Search" />
            </form>
            <script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script> -->
            </ul> <!-- cd-header-buttons -->
        </div>

        <!--//header-->
        <!--banner-text-->
        <div class="banner-text">
            <!--banner Slider starts Here-->
            <script src="~/scripts/responsiveslides.min.js"></script>
            <script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 4
				  $("#slider4").responsiveSlides({
					auto: true,
					pager: true,
					nav: false,
					speed: 1500,
					namespace: "callbacks",
					before: function () {
					  $('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
					}
				  });

				});
            </script>
            <!--//End-slider-script-->
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <h2>Welcome to your One-Stop to Japan Used Machinery.</h2>
                        <p>We are exporters of used machinery from Japan. Please follow our inventory page to know the products that we have in stock. </p>
                        <!-- <a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Check Now</a> -->
                    </li>
                    <li>
                        <h3>バイヤーと売り手のための中古機械</h3>
                        <p>お問い合わせください</p>
                        <!-- <a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Check Now</a> -->
                    </li>
                    <li>
                        <h3>If there is any specific requirement which is not in our inventory list.</h3>
                        <p>please feel free to contact us with the details specification</p>
                        <!-- <a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Check Now</a> -->
                    </li>
                    <li>
                        <h3>Looking for Used Machinery? </h3>
                        <p>We will try and find the required machinery through our partner companies..</p>
                        <!-- <a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Check Now</a> -->
                    </li>

                </ul>
            </div>
        </div>
        <!--//banner-text-->
    </div>
    <!--//banner-->
    <!--modal-sign-->
    <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body modal-spa">
                        <form action="#" method="post">
                            <div class="form-left">
                                <label>Name :</label>
                                <input type="text" name="Your Name" placeholder="Enter Your Name" required>
                            </div>
                            <div class="form-right">
                                <label>Course :</label>
                                <select id="country" onChange="change_country(this.value)" class="frm-field required">
                                    <option value="0">40 & 27-Mile Adults</option>
                                    <option value="1">40 & 27-Mile Child</option>
                                    <option value="2">8-Mile Family Ride</option>
                                    <option value="3">Century</option>
                                    <option value="4">Metric Century</option>
                                </select>
                            </div>
                            <div class="form-left">
                                <label>Date :</label>
                                <input type="date" name="Date">
                            </div>
                            <div class="form-right">
                                <label>City :</label>
                                <input type="text" name="City" placeholder="Enter Your City" required>
                            </div>
                            <div class="clearfix"> </div>
                            <label>Contact Info :</label>
                            <input type="text" name="Address" placeholder="Enter Contact Details" required>
                            <input type="submit" value="Register Now">
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!--//modal-sign-->
    <!--about-->
    <div id="about" class="about">
        <div class="container">
            <div class="title">
                <h3>About Us </h3>
                <p>We would be pleased to hear from you! Please let us know what your needs and questions are, we will be more than happy to help.</p>
            </div>
            <div class="about-row">
                <div class="col-md-3 about-grids">
                    <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                    <h4>Used Machinery for Buyers?</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't</p>
                    <h6> </h6>
                </div>
                <div class="col-md-3 about-grids">
                    <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                    <h4>Used Machinery for Sellers?</h4>
                    <p>A new content management system will enable us to always keep you up to date.</p>
                    <h6> </h6>
                </div>
                <div class="col-md-3 about-grids">
                    <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                    <h4>We are exporters</h4>
                    <p>We export minimum of one container for further information please <a href="#contact" class="scroll">contact</a></p>
                    <h6> </h6>
                </div>
                <div class="col-md-3 about-grids">
                    <span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
                    <h4>Specific Requirement</h4>
                    <p>Which is not in our inventory list, please feel free to contact us with the details specification and we will try and find the required machinery through our partner companies.</p>
                    <h6> </h6>
                </div>

                <div class="clerfix"> </div>
            </div>
        </div>
    </div>
    <!--//about-->
    <!--Gallery-->
    <div id="gallery" class="gallery">
        <div class="container">
            <div class="title">
                <h3>Gallery</h3>
                <p>We are exporters of used machinery from Japan. Please follow our inventory page to know the products that we have in stock. </p>
            </div>
            <div class="gallery_gds">
                <ul class="simplefilter">
                    <li class="active" data-filter="all">All</li>
                    <li data-filter="1">Lathe</li>
                    <li data-filter="2">Jig Builder</li>
                    <li data-filter="3">CNC</li>
                    <li data-filter="4">Miling</li>

                </ul>
                <div class="filtr-container">
                    <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="Busy streets">
                        <div class="hover ehover14">
                            <a href="images/g1.jpg" class="swipebox" title="Company: Mori Seiki | Model: SL-25B-1000 | Year: 1997 | rpm: 35-3500 | Axis: X: 160 Z: 1090 | Table: 260 X 1125">
                                <img src="images/g1.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 filtr-item" data-category="2, 3" data-sort="Luminous night">
                        <div class="hover ehover14">
                            <a href="images/g2.jpg" class="swipebox" title="Company: Mori Seiki | Model: SL-25B-1000 | Year: 1997 | rpm: 35-3500 | Axis: X: 160 Z: 1090 | Table: 260 X 1125">
                                <img src="images/g2.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
                        <div class="hover ehover14">
                            <a href="images/g3.jpg" class="swipebox" title="Company: Mori Seiki | Model: SL-204SMC | Year: 2002 | rpm: 4500">
                                <img src="images/g3.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 filtr-item" data-category="3, 4" data-sort="Industrial site">
                        <div class="hover ehover14">
                            <a href="images/g4.jpg" class="swipebox" title="Company: Mori Seiki | Model: SL-204SMC | Year: 2002 | rpm: 4500">
                                <img src="images/g4.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 filtr-item" data-category="3" data-sort="In production">
                        <div class="hover ehover14">
                            <a href="images/g5.jpg" class="swipebox" title="Company: Dainichi CNC LATHE | Model: Dainichi MG 75 [https://www.youtube.com/watch?v=EcrvoXxQodc]">
                                <img src="images/g5.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                        <div class="hover ehover14">
                            <a href="images/g6.jpg" class="swipebox" title="Company: OKK | Model: OKK MH-5PJ | Year: 1996 | rpm: 17-1350 | Axis: X:1300 Y:420 Z:500 | Table: 2250 X 450">
                                <img src="images/g6.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <h4>Gallery</h4>
                                    <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//Gallery-->
    <!--testimonial-->
    <div class="testimonial">
        <div class="title">
            <h3>Happy Customers</h3>
            <p>"You won't find better quality with affrodable cost anywhere else!."</p>
        </div>
        <div class="col-md-6 testi-left">
            <div class="testi-left-info">
                <h4>HAPPY CUSTOMERS</h4>
                <script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 2
					  $("#slider2").responsiveSlides({
						auto: true,
						pager: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });

					});
                </script>
                <!--//End-slider-script-->
                <div id="top2" class="callbacks_container">
                    <ul class="rslides" id="slider2">
                        <li>
                            <p><span> </span>"A personable and reliable company with first class machine tools!!".<span class="last"> </span></p>
                            <h6>Luris Patrick - </h6>
                            <img src="images/img6.png" alt="" />
                        </li>
                        <li>
                            <p><span> </span>"When we need great machines, great prices & excellent support. We always count on Machinery Consultants to deliver on time."<span class="last"> </span></p>
                            <h6>Albert Ridk - </h6>
                            <img src="images/img7.png" alt="" />
                        </li>
                        <li>
                            <p><span> </span>Thank you very much for the deal. We are very satisfied with their used machines andd service as well and would strongly recommend them.<span class="last"> </span></p>
                            <h6>Stee Glacier  - </h6>
                            <img src="images/img8.png" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- VIDEO START'S HERE 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/YekYyn3R-ag" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <!-- VIDEO END'S HERE 16:9 aspect ratio -->




        <div class="clearfix"> </div>
    </div>
    <!--//testimonial-->
    <!--contact-->
    <div class="contact" id="contact">
        <div class="container">
            <div class="title">
                <h3>Contact</h3>
                <p>Please feel free to contact us with the details specified.</p>
            </div>
            <div class="contact-grids">
                <div class="col-md-5 address">
                    <h4>Contact Info</h4>
                    <div class="address-row">
                        <div class="col-md-2 address-left">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 address-right">
                            <h5>Visit Us</h5>
                            <p>Japan Used Machines<br>Rajgroup Pvt.Ltd.<br>2nd Floor, Oote Building, Toranomon 3-19-7, 2F</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 address-left">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 address-right">
                            <h5>Mail Us</h5>
                            <a href="mailto: info@japanusedmachines.com"> info@japanusedmachines.com</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 address-left">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 address-right">
                            <h5>Call Us</h5>
                            <a href="tel:+81-90-8308-5085 javascript:void(0);">Phone: +81-90-8308-5085</a><br>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-7 contact-form">
                    <form method="post" name="contact" action="send_form_email.php">
                        <input type="text" name="first_name" placeholder="First Name">
                        <input class="email" name="last_name" type="text" placeholder="Last Name">
                        <input type="text" name="telephone" placeholder="Mobile Number">
                        <input class="email" name="email" type="text" placeholder="Email">
                        <textarea name="comments" placeholder="Message"></textarea>
                        <input type="submit" value="Submit">
                    </form>

                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>

    <!--//contact-->
    <!--map-->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d810.39688970804!2d139.74581114788293!3d35.66253199633937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1473576897196" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!--//map-->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-left">
                <p>© 2017 japanusedmachines | All rights reserved</p>
            </div>
            <div class="footer-right social-icons">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="https://www.facebook.com/japanusedmachines/" target="_blank" title="facebook" class="fb"> </a></li>
                    <li><a href="#" class="gp"> </a></li>
                    <li><a href="#" class="drb"> </a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- form reset -->
    <script type="text/javascript">
		function submitForm() {
            document.contact-form.submit();
            document.contact-form.reset();
            }
    </script><!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
		$(document).ready(function() {

			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});

    </script>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Include jQuery & Filterizr -->
    <script src="~/scripts/jquery.filterizr.js"></script>
    <script src="~/scripts/controls.js"></script>
    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();

        });
    </script>
    <!--//gallery-->
    <!-- swipe box js -->
    <script src="~/scripts/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
    </script>
    <!-- //swipe box js -->
    <!--search jQuery-->
    <script src="~/scripts/main.js"></script>
    <!--//search jQuery-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/scripts/bootstrap.js"></script>

</body>
</html>