@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">&nbsp;</h4>
        </div>
        <div class="modal-body">
            <h3>
                <a href="@Url.Action("AddNewMachine","Machine")"> <i class="fa fa-plus" aria-hidden="true"></i> Add New Machine</a>
            </h3><br />
            <h3>
                <a href="@Url.Action("ListOfMachines","Machine")"> <i class="fa fa-list" aria-hidden="true"></i> Machines</a>
            </h3>
        </div>
        <div class="modal-footer">
            <p>&nbsp;</p>
        </div>
    </div>
</div>