/*-- single-page --*/
.single-page {
	padding:50px 0;
}
.product-view {
    padding: 15px;
    border: 1px solid #eee;
}
.product-view h2 {
    font-size: 28px;
    color: #000;
    line-height: 1.3;
}
.product-view p {
    font-size: 13px;
    color: #929292;
	margin:15px 0;
	word-spacing:3px;
}
.product-view p i {
    margin-right: 4px;
    color: #f3c500;
    font-size: 14px;
}
.product-view p a {
    margin-right: 4px;
    color: #01a185;
    font-size: 14px;
}
.product-desc {
    margin-top: 45px;
}
.product-details h4 {
	color:#000;
	font-size:18px;
	margin:15px 0;
}
.product-details h4 a {
	color:rgba(100, 149, 237, 100);
	font-size:15.5px;
	text-decoration:none;
}
.product-details p {
    line-height: 1.8;
    color: #848484;
    font-size: 13px;
    margin: 8px 0;
}
.product-details p strong {
    font-weight: 400;
    color: #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 17px;
}
.item-price {
	border: 3px solid rgba(100, 149, 237, 100);
    margin-left: 15%;
    padding:0 15px;
	position:relative;
}
.item-price:before {
	content: '';
    position: absolute;
    z-index: 1;
    left: -62.5%;
    background-color: rgba(0,0,0,0);
    border: 105px solid rgba(0,0,0,0);
    border-right-color: rgba(100, 149, 237, 100);
    height: 0;
    width: 0;
    top: -2px;
    border-right-width: 80px;
}
p.p-price {
    float: left;
    width: 50%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    vertical-align: middle;
	margin-top:8px;
	margin-left: 20px;
}
h3.rate {
    float: left;
    color: rgba(237, 100, 100, 100);
    font-size: 30px;
}
.condition h4,.itemtype h4 {
    margin: 0;
    floaT: left;
    font-size: 22px;
}
.condition p,.itemtype p {
    margin: 0;
	margin-left: 0px;
}
.product-price {
    padding: 20px 0;
}
.condition {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.itemtype {
    padding: 20px 0;
}
.interested {
    margin: 20px;
    padding: 40px 20px;
    background: rgba(100, 149, 237, 100);
    margin-left: 15%;
    margin-right: 0;
}
.interested  h2 {
	color:#f1f2f4;
	font-size:26px;
}
.interested  small {
	color:#f1f2f4;
	font-size:14px;
	margin:30px 0 0 0;
}
.interested  p {
    color:#f1f2f4;
    font-size:14px;
    margin:10px 0 0 0;
}
.interested p i {
    margin-right: 12px;
    color: #FFFFFF;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.38);
    padding: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: middle;
}
.interested a {
    color: #f1f2f4;
}
.tips {
    margin: 20px;
    padding: 40px 20px 15px;
    background: rgba(1, 161, 133, 0.36);
    margin-left: 15%;
    margin-right: 0;
}
.tips h4 {
    color: #000;
    font-size: 19px;
    margin-bottom: 15px;
}
.tips ol li a {
    display: block;
    text-decoration: none;
    color: #333333;
    margin: 5px 0;
    font-size: 13px;
    line-height: 30px;
}
/*-- //single-page --*/
@media (max-width: 991px){
    .main-banner {
        min-height: 260px;
        padding: 55px 0 0 0;
    }
    .banner h1 {
        font-size: 35px;
    }
    .banner p {
        margin: 6px 0 30px 0;
        font-size: 15px;
    }
    .banner a {
        font-size: 16px;
        padding: 8px 20px;
    }
    .btn-primary {
        padding: 0 0 0 20px;
    }
    .focus-grid {
        width: 25%;
        float: left;
    }
    .col-md-3.biseller-column{
        width:33.333%;
        float:left;
    }
    .col-md-3.biseller-column:nth-child(4){
        display:none;
    }
    .trend-ads h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .trending-ads {
        padding: 40px 0 60px 0px;
    }
    .col-md-3.footer-grid {
        width: 50%;
        float: left;
    }
    ul.location li:nth-child(2) {
        width: 88%;
    }
    .footer-grid ul li {
        margin: 10px 0;
    }
    h4.footer-head {
        font-size: 25px;
        margin-top: 35px;
    }
    ul.location li{
        margin:0;
    }
    .footer-top {
        padding: 30px 0 50px 0;
    }
    .footer-logo a:before {
        width: 40%;
    }
    .footer-logo a:after {
        width: 40%;
    }
    .app-left {
        width: 40%;
        float: left;
    }
    .app-left img {
        width: 90%;
    }
    .app-right {
        width: 60%;
        float: left;
        margin-top: 10px;
    }
    .app-right h3 {
        font-size: 24px;
    }
    .app-right p {
        font-size: 13px;
        line-height: 25px;
        margin: 10px 0 20px 0;
    }
    .app-button img {
        width: 80%;
    }
        .mobile-app {
        padding-top: 60px;
    }
    .footer-social-icons {
        margin: 30px 0 10px 0;
    }
    .sub-categories ul li a {
        font-size: 14px;
    }
    .category-img {
        width: 35%;
    }
    .category-info {
        width: 50%;
    }
    .category-info h4 {
        font-size: 20px;
    }
    .featured-ad {
        width: 32.3333%;
        float: left;
        margin: 0 0.5%;
    }
    .btn-group.bootstrap-select.show-tick button {
        width: 76%;
    }
    .ads-display.col-md-9 {
        padding: 0;
        margin-top: 30px;
    }
    .item-price {
        margin-left: 0;
        padding: 0 15px;
        margin-top: 15%;
    }
    .item-price:before {
        left: 33.5%;
        border-right-width: 90px;
        top: -205px;
        transform: rotate(90deg);
    }
    .interested,.tips {
        margin-left: 0;
        margin-right: 0;
    }
    .post-ad-form {
        padding: 35px 20px;
    }
    .post-ad-form form label {
        width: 22%;
    }
    p.post-terms {
        margin-left: 25%;
        font-size: 14px;
        letter-spacing: 0px;
    }
    .app-bottom-grid {
        padding: 30px 20px;
        width: 44%;
        margin: 4% 3%;
        float: left;
    }
    .app-bottom-grids {
        padding: 50px 0;
    }
    .mpl {
        width: 100%;
    }
    .app-left h2 {
        margin: 0px 0 0px 0;
        font-size: 32px;
    }
    .col-md-7.app-image {
        width: 80%;
        float: left;
        margin: 8% 0 0 10%;
    }
    .app-devices {
        width: 50%;
        margin: 20px 0 0 0;
    }
    .app-left p {
        margin: 5px 0 0px 0;
        font-size: 15px;
    }
    .sign-up {
        width: 55%;
    }
    .feed-back-form input[type="text"],.feed-back-form textarea {
        width: 70%;
    }
    form#filldetails {
        width: 85%;
    }
    .state.col-md-3 {
        width: 25%;
        float: left;
    }
    .sun-regions.col-md-9 {
        width: 75%;
        float: left;
    }
    .popular-category {
        width: 33.333%;
    }
    .popular-regions ul li {
        width: 33.333%;
    }
    .popular-category:nth-child(3){
        margin-bottom:28px;
    }
    .tags p {
        font-size: 1em;
    }
    .happy-clients-grid {
        width: 100%;
        margin: 4% 0% 0 0;
    }
    .client {
        width: 13%;
        margin-right: 3%;
        margin-top: 0%;
    }
    .happy-clients-grid {
        padding: 2em 2em;
    }
    .client-info {
        width: 84%;
    }
    .work-section-head p {
        font-size: 18px;
        padding: 10px 0 0px 0;
    }
    .work-section-grid {
        margin-top: 6em;
        position: relative;
        width: 25%;
        float: left;
    }
    .work-section-grid h4 {
        font-size: 20px;
    }
    .work-section-grid p {
        margin-bottom: 75px;
    }
    .upload {
        width: 85%;
    }
}